## CMITS - Configuration Management for Information Technology Systems
## Based on <https://github.com/afseo/cmits>.
## Copyright 2015 Jared Jennings <mailto:jjennings@fastmail.fm>.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##    http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
## This template is used to write placeholder sections in the
## per-IA-control compliance chapter. The chapter talks about IA
## controls that are treated in the policy; the placeholder sections
## are about IA controls that are not treated in the policy. The goal
## is that if the set of controls treated changes, the section numbers
## in the chapter will still remain the same, for citability.
##
## This template is written in a small subset of Cheetah's syntax,
## viz: lines beginning with ## are ignored as comments; ${id} is
## replaced with the identifier of the IA control, e.g. COEB-1;
## ${title} is replaced with the name of the IA control, e.g.
## Enclave Boundary Defense.
\section{(${id})}
\label{iac-${id}}

This section is reserved for future expansion.
